body{
    background-color: lightblue;
    text-align: center;
}
input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

